* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #d0a2f7;
  --secondary: #d0a2f7;
}
.app {
  height: 100vh;
  border: 10px solid;
}
header nav {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  padding: 10px;
  font-size: 20px;
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  border: 1px solid;
  width: 60%;
  height: 600px;
}
